<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="winformLab.Properties.Settings.SSOConnectionString"
            connectionString="Data Source=RELYNB\SQLEXPRESS;Initial Catalog=SSO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="winformLab.Properties.Settings.MyTestConnectionString"
            connectionString="Dsn=MyTestDB;description=testing;uid=Rely;trusted_connection=Yes;app=Microsoft® Visual Studio® 2013;wsid=RELYNB;database=MyTest"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
